* {
    box-sizing: border-box;
    /* padding: 0px; */
    margin: 0px;
}

#deleteButton {
    margin: 0px;
    /* position: left; */
    width: 250px;
    text-align: center;
    background-color: rgba(255,255,255,0.13);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    border-radius: 0px;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    color:black;
    padding: 10px;
    font-size: 20px;
}



.desc {
    text-align: center;
    font-size: 20px;
}

.actions {
    width: 100%;
    display: flex;
    justify-content: right;
}