@import url(https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap);

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}



/* :root {
  --font-family: 'Open Sans', sans-serif;
  --palette-color1: #DB222A;
  --palette-color2: #EDERE4;
  --palette-color3: #2B2D42;

  --footer-column-header-size: 20px;
  --about-header-size: 4rem;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
 */
