.Section3 {
    display: flex;

}

.footerColumn--title {
    font: var(--footer-column-header-size);
    font-weight: bold;
}

.footerColumn--item a {
    font-family: var(--font-family);
    text-decoration: none;
}

.footerColumn--item {
    padding: 8px 0;
}