.About {
    width: 40%;
}
.header--title {
    color: black;
    font-size: var(--about-header-size);
    line-height: 48px;
    font-family: var(--font-family);
    line-height: 0.9;
}
.header--subtitles {
    opacity: 0.8;
    font-family: var(--font-family);
    /*color: ;*/
    /*font: ;*/
}


.tiiBtn-primary {
    font-family: var(--font-family);
    text-decoration: none;
    padding: 8px 16px;
    background-color: var(--palette-color1);
    margin-right: 12px;
    border-radius: 4px;
    color: black;
    box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}



.tiiBtn-secondary{
    font-family: var(--font-family);
    padding: 8px 16px;
    border: solid black 2px;
    border-radius: 4px;
    text-decoration: none;
    color:black;
}

.tiiBtn-primary:hover{
    background-color: #2B2D42;
    color: red;
}

.tiiBtn-secondary:hover {
    background-color: #2B2D42;
    color: white;
}

.tiiBtnContainer {
    margin: 30px 0;
}


