.Navbar {
    display: flex;
    justify-content: space-between;
    width: 900px;
}

.Navbar a {
    text-decoration:none;
    /*color:black;*/
    --h: 1.2em;

    line-height: var(--h);
    color: #0000;
    text-shadow:
        0 calc(-1*var(--_t,0em)) #000,
        0 calc(var(--h) - var(--_t,0em)) #DB222A;
    overflow: hidden;
    transition: .3s;
    font-family: var(--font-family);
}



.Navbar a:hover {
  --_t: var(--h);
}