.Section2 {
    display: flex;
    justify-content: space-between;
}

.footerColumn--title {
    font: var(--footer-column-header-size);
    font-weight: bold;
    font-family: var(--font-family);
}

.footerColumn-siteMap {
    padding: 16px;
    flex: 1;

}

.footerColumn--item a {
    font-family: var(--font-family);
    text-decoration: none;
    color: black;
}

.footerColumn--item {
    padding: 8px 0;
}

